// Colors defaults
$white: #ffffff;
$black: #000;

// Theme
$primary: #008b8b;
$primary-light: #00bebe;
$secondary: #46008b;
$secondary-light: #8b008b;
$grey-theme: #c6c9c8;
$dark-theme: #212529;

//Color Greys
$grey-1: #d9dadb;
$grey-2: #6d6e71;
$grey-3: #414042;
$grey-4: #231f20;

//alertas
$error: #ff0000;
$success: #009b4e;
$alert: #f09924;
$disabled: rgba(255, 255, 255, 0.5);

// Responsive
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
