form {
  input {
    outline: none;
    border-radius: 5px;
    border: 2px solid $grey1;
    padding: 10px;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
    &.has-error {
      border-color: $error;
      background-color: rgba($error, 0.2);
    }
  }
  span {
    display: block;
    position: absolute;
    bottom: 0;
    color: $error;
    font-size: 12px;
  }
}
button {
  border-radius: 5px;
  display: block;
  padding: 5px 20px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  &.primary {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: rgba($primary, 0.8);
    }
    &.inactive {
      background-color: transparent;
      color: $grey2;
      border: none;
    }
  }
  &.secondary {
    background-color: rgb($secondary-light, 0.7);
    border: 1px solid $secondary;
    color: $white;
  }
  &.outlined {
    background-color: transparent;
    border: 1px solid $primary;
    transition: ease-in-out 0.3s;
    &:hover {
      background-color: rgb($primary, 0.4);
    }
  }
}

