.scroll-hidden {
  overflow-y: hidden;
  @media (min-width: $md) {
    background-color: #f1f1f1;
    width: 100vw;
    padding-right: 17px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.mask {
  top: 0;
  position: absolute;
  position: fixed;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal-header,
.modal-footer {
  border: 0;
}
